<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Geo|Lato:300" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Projet Stargate</title>

    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="banner">
        <h1>Bienvenue dans le futur</h1>
        <p1>Découvrez notre nouvelle solution au service de votre performance : <a href="https://rayaneo.github.io/Landing/" target="_blank">le projet Stargate</a> !</p1>
    </div>

    <div id="soustitre">
        <h2>Quels avantages ?</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="boxes">

                    <img src="images/spaceship.svg" alt="la puissance de l'internet à votre service" width="50px">
                    <p>Puissance</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="boxes">

                    <img src="images/dashboard-level.svg" alt="joignez performance et plaisir" width="50px">
                    <p>Efficacité</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="boxes">

                    <img src="images/preferences.svg" alt="brillez au travail" width="50px">
                    <p>Paramétrablilité</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="boxes">

                    <img src="images/lock.svg" alt="brillez au travail" width="50px">
                    <p>Sécurité</p>
                </div>

            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <div class="boxes">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                    <div class="formulaire">
                        <div id="wufoo-z1wh4iyo03cgkmg">
                            Fill out my <a href="https://rayanerups.wufoo.com/forms/z1wh4iyo03cgkmg">online form</a>.
                        </div>

                        <script type="text/javascript">
                            var z1wh4iyo03cgkmg;
                            (function(d, t) {
                                var s = d.createElement(t),
                                    options = {
                                        'userName': 'rayanerups',
                                        'formHash': 'z1wh4iyo03cgkmg',
                                        'autoResize': true,
                                        'height': '340',
                                        'async': true,
                                        'host': 'wufoo.com',
                                        'header': 'show',
                                        'ssl': true
                                    };
                                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                                s.onload = s.onreadystatechange = function() {
                                    var rs = this.readyState;
                                    if (rs)
                                        if (rs != 'complete')
                                            if (rs != 'loaded') return;
                                    try {
                                        z1wh4iyo03cgkmg = new WufooForm();
                                        z1wh4iyo03cgkmg.initialize(options);
                                        z1wh4iyo03cgkmg.display();
                                    } catch (e) {}
                                };
                                var scr = d.getElementsByTagName(t)[0],
                                    par = scr.parentNode;
                                par.insertBefore(s, scr);
                            })(document, 'script');
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">

        <ul>
            <li><a href="https://www.youtube.com/watch?v=aeePeVUW6-k" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://www.labsolutely.org/wp-content/uploads/2012/11/twitter_bird_dead.jpg" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://amueller.github.io/sklearn_tutorial/octobiwan.jpg" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
    </div>

</body>

</html>